<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Sharelectric login </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid email or password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/sign-in}" method="post">
    <div><label> User Email : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>
